* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    display: flex;
    background: #12aa82;
    padding: 1rem;
    text-align: center;
    flex-basis: 100px;
    font-size: large;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > *, header, footer {
    margin: 4px;
    padding: 5px;
    border-radius: 7px;;
}
main {
    display: flex;
    flex-basis: 800px;
    font-size: larger;
}

nav, aside, article {
    padding: 1rem;
    background-color: #34495e;
}
footer {
    background-color: #12aa82;
    padding: 1rem;
    text-align: center;
    
}

a {
    text-decoration: none;
    color: black;
}
article {
    flex-basis: 60%;
    background-color: #8ba4bb;
    flex-grow: 1;
}

nav {
    flex-basis: 20%;
    order: -1;
    background-color: rgb(221, 231, 240);
}

aside {
    flex-basis: 20%;
    background-color: #bedbf8;
}


@media screen and (max-width: 640px) {
    main {
        display: flex;
        flex-direction: column;
        background: #34495e;
        flex-grow: 1;
    }
    nav {
        order:0;
    }
}


